@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
* {
  font-family: "Gilroy-Regular", ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
}
@font-face {
  font-family: "Gilroy-Regular";
  src: url(./fonts/Gilroy-Regular.ttf) format("ttf");
}
.btn {
  @apply mx-auto;
  @apply bg-black;
  @apply text-white;
  @apply py-2;
  @apply px-10;
  @apply rounded-xl;
  @apply font-semibold;
  @apply text-lg;
  @apply w-auto;
}
.btn-table {
  @apply p-1;
  @apply mx-1;
  @apply px-6;
  @apply text-white;
  @apply rounded-md;
  @apply focus:outline-none;
  @apply focus:ring-2;
  @apply ring-offset-2;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
  margin-top: -60px;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fading-enter-active,
.fading-leave-active {
  transition: opacity 0.2s ease;
}
.fading-enter-from,
.fading-leave-to {
  opacity: 0;
}
.menu .router-link-exact-active {
  @apply bg-gray-100;
  @apply font-semibold;
  @apply dark:bg-gray-600;
}
.contentBx {
  @apply px-8 py-8 rounded-lg bg-white dark:bg-gray-200 shadow-lg text-gray-800;
}
.tbody {
  @apply bg-white dark:bg-gray-300 border-b border-gray-200 dark:border-gray-800;
}
